label{
    color: yellow !important;
}
#password{
    color: springgreen !important;
    font-size: 20px;
    font-weight: 900;
    font-style: italic

}

.ptag{
    background: tomato;
    margin-left: 30px;
    margin-top: 30px;
    border: sienna;
    border-style: solid;
    border-width: 37px;
    border-radius: 10px;
}
/* #checkbox{ */
    /* color: brown !important; */
/* } */
.sure{
    color: coral !important;
    background-color: aqua;
    font-size: 19px;
    font-family: cursive;
    font-weight: 500;
}
.fonttype{
    font-size: 20px;
}